.header {
    display: flex;
    margin-left: 3.6%;
}

@font-face {
    font-family: "Fira Code";
    src: url(../fonts/FiraCode-VariableFont_wght.ttf);
}
.title {
    font-family: "Fira Code";
    font-weight: bold;
    font-size: 16px;
    color: white;
    vertical-align: middle;
    padding-left: 5px;
}