.Projectcard {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: auto;
    position: relative;
    border: 2px solid #ABB2BF;
}

.project-content {
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

@font-face {
    font-family: "Fira Code";
    src: url(../fonts/FiraCode-VariableFont_wght.ttf);
}

.tech-stack {
    display: flex;
    border-bottom: 2px solid #ABB2BF;
    border-top: 2px solid #ABB2BF;
    align-items: center;
}

.tech-stack-text {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-family: "Fira Code";
    font-size: 16px;
    color: #ABB2BF;
}

.thumbnail-image {
    display: block; 
}

.project-name {
    margin-top: 15px;
    margin-left: 15px;
}

.project-name-text {
    font-family: "Fira Code";
    font-size: 24px;
    color: white;
}

.project-description {
    margin-top: 10px;
    margin-left: 15px;
}

.project-description-text {
    font-family: "Fira Code";
    font-size: 16px;
    color: #ABB2BF;
}

.live-button {
    display: flex;
    width: 110px;
    height: 37px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    background-color: #282C33;
    border: 1px solid #019DF4;
    position: relative;
}

.live-button-text {
    font-family: "Fira Code";
    font-size: 16px;
    color: white;
}

.live-button-arrow {
    margin-left: 10px;
}