body {
  background-color: #282C33;
}

.app-content {
  margin-left: 9%;
  margin-right: 9%;
}

.Container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  vertical-align: middle;
}